.app {
  min-height: 110vh;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.app.dark {
  background-color: #1f2937;
  color: #e5e7eb;
}

.layout {
  display: flex;
}

.content {
  flex: 1;
  padding: 10px;
}